@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  font-family: Rubik;
}

html {  
  font-size: 10px;
}

.header {
  background-image: url(images/pattern-bg-desktop.png);
  height: 34svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 15px;
}

.header__title {
  margin-bottom: 3rem;
  font-weight: 400;
  text-align: center;
}

.header__container {
  position: absolute;
  top: 2.5rem;
}

.header__input {
  height: 5rem;
  width: 45rem;
  border-radius: 10px 0px 0px 10px;
  font-size: 20px;
  padding-left: 2rem;
  font-weight: 500;
}

.header__button {
  background-color: black;
  height: 5rem;
  width: 5rem;
  border: 0px solid black;
  border-radius: 0px 10px 10px 0px;
}

.header__ip-container {
  position: relative;
  top: 18rem;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 20rem;
  width: 75svw;
  z-index: 1;
  border: 0px solid white;
  border-radius: 10px;
  gap: 1rem;
  padding: 0 5rem 0;
  font-weight: 700;
  font-size: 20px;
}

.header__seperaters {
  border: 1px solid hsl(0, 0%, 59%);;
  height: 9rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.header__ip-info {
  color: hsl(0, 0%, 59%);
  font-size: 14px;
}

#map {
  height: 80svh;
  z-index: 0;
}

@media only screen and (max-width: 600px) {

.header {
  background-image: url(images/pattern-bg-mobile.png);
  height: 34svh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  font-size: 15px;
}

.header__title {
  margin-bottom: 3rem;
  font-weight: 400;
}

.header__container{
  position: absolute;
  top: 2.5rem;
}

.header__input {
  height: 5rem;
  width: 27rem;
  border-radius: 10px 0px 0px 10px;
  font-size: 20px;
  padding-left: 2rem;
  font-weight: 500;
}

.header__button {
  background-color: black;
  height: 5rem;
  width: 5rem;
  border: 0px solid black;
  border-radius: 0px 10px 10px 0px;
}

.header__ip-container {
  position: relative;
  top: 18rem;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  height: 30rem;
  width: 23rem;
  z-index: 1;
  border: 0px solid white;
  border-radius: 10px;
  padding-top: 3rem;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 3rem;
}

.header__ip-info {
  color: hsl(0, 0%, 59%);
  font-size: 14px;
  margin-bottom: 1rem;
}

.header__seperaters {
  display: none;
}

#map {
  height: 80svh;
  z-index: 0;
}

}
